:root {
    --base: #f5f7fa;
    --colorPrincipal: #0d3b66;
    --colorSecundario: #2a7f62;
    --colorSecundarioClaro: #5d9d7f;
    --colorComplementario: #e67e22;
    --colorComplementarioClaro: #f39c12;
    --colorComplementarioOscuro: #d35400;
    --colorComplementarioHover: #f1c40f;
    --colorTexto: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ************************ */
/* * ESTILOS LANDING PAGE * */
/* ************************ */

body {
    background-color: var(--base);
}

header {
    background-color: var(--colorPrincipal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

header img {
    height: 5rem;
    width: 5rem;
    margin-left: 1rem;
}

header nav ul {
    display: flex;
    flex-direction: row;
}

header nav ul li {
    list-style: none;
    padding: 0.5rem;
    margin-right: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: var(--colorTexto);
    font-weight: bold;
    transition: ease-in-out 0.3s
}

header nav ul li a:hover {
    color: var(--colorComplementario);
}

.heroSection {
    position: relative;
    height: 37.5rem;
    overflow: hidden;
}

.heroSection img {
    display: block;
    width: 100%;
    height: 100%;
}

.heroSection .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.incentivoFormulario {
    text-align: center;
    margin: 1rem;
    color: var(--colorPrincipal);
}

.heroSection h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: var(--colorTexto);
    text-align: center;
    padding: 0 1.25rem;
    font-size: 2.5rem;
    width: 100%;
}

.espacio {
    display: block;
}

.separadorDeContenido {
    height: 0.375rem;
    border-radius: 1.25rem;
    background-color: var(--colorComplementarioClaro);
    width: 30%;
    margin: 1rem auto;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.beneficiosCooperativa {
    display: flex;
    flex-direction: column;
    background-color: var(--colorPrincipal);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0.5rem;
    padding: 1.5rem;
    border-radius: 1.25rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    align-items: center;
    justify-content: center;
    color: var(--colorTexto);
}

.beneficiosCooperativa .icono {
    background-color: var(--colorSecundario);
    border-radius: 100%;
    width: 8.125rem;
    height: 8.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.beneficiosCooperativa:hover {
    transform: scale(1.03);
    box-shadow: 0 0.375rem 1rem rgba(0, 0, 0, 0.3);
}

.beneficiosCooperativa button {
    background-color: var(--colorComplementario);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    color: var(--colorTexto);
    margin-top: 1rem;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.625rem;
    border-style: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.beneficiosCooperativa button:hover {
    background-color: var(--colorTexto);
    color: var(--colorComplementario);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#informacionYRegistro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--colorSecundario);
    padding: 2rem;
    margin: 1rem 0;
    gap: 2rem;
}

.informacionContacto,
.informacionContacto h3,
.informacionContacto h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.informacionContacto h3,
.informacionContacto h4 {
    align-items: flex-start;
}

.informacionContacto h3 {
    color: var(--colorTexto);
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
}

.informacionContacto h4 {
    color: var(--colorTexto);
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
}

.informacionContacto ul li {
    color: var(--colorTexto);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
}

.informacionContacto ul li span {
    margin: 0 1rem 0 0;
    background-color: rgba(220, 220, 220, 0.3);
    padding: 0.5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#formLanding {
    display: flex;
    flex-direction: column;
    background-color: var(--colorPrincipal);
    border-radius: 0.375rem;
    padding: 1.5rem;
    margin: 0;
    justify-content: center;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.nombreYApellido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
}

#formLanding div h2 {
    color: var(--colorComplementario);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

#formLanding label {
    color: var(--colorTexto);
    font-weight: bolder;
    margin: 0.5rem 0 0.125rem 0;
}

#formLanding input {
    background-color: rgb(231, 231, 231);
    border-radius: 0.75rem;
    height: 2.5rem;
    border: 0.125rem solid rgb(136, 136, 136);
    color: grey;
    padding: 0 0.75rem;
    margin-bottom: 0.5rem;
}

#formLanding input:focus,
#formLogin input:focus {
    outline: none;
    border: 0.125rem solid var(--colorComplementarioOscuro);
    box-shadow: 0 0 0.3rem var(--colorComplementarioClaro);
    background-color: #f9f9f9;
    color: black;
}

#formLanding input:invalid,
#formLogin input:invalid {
    border: 0.125rem solid var(--colorSecundarioClaro);
    background-color: #ffeaea;
}

#formLanding input:valid,
#formLogin input:valid {
    border: 0.125rem solid var(--colorComplementario);
    background-color: var(--colorTexto);
    color: black;
}

#formLanding .terminosCondiciones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

#formLanding .terminosCondiciones input {
    cursor: pointer;
    margin: 0;
}

#formLanding .terminosCondiciones h2 {
    color: var(--colorTexto);
    font-size: 1rem;
    margin: 0;
}

#formLanding div a {
    color: var(--colorComplementario);
    font-size: 1rem;
}

#formLanding button {
    margin: 0.75rem auto;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    background-color: var(--colorComplementario);
    color: var(--colorTexto);
    border-style: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size: 1rem;
    width: 80%;
}

#formLanding button:hover,
#formLogin button:hover {
    background-color: var(--colorTexto);
    color: var(--colorComplementario);
    box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

footer {
    background-color: var(--colorPrincipal);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 5rem;
    padding: 2rem 1rem;
}

.seccionesFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.informacionYRedes {
    flex: 1;
    max-width: 30%;
}

.informacionYRedes img {
    max-width: 120px;
    margin-bottom: 1rem;
}

.informacionYRedes ul {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

.informacionYRedes ul li {
    list-style: none;
    padding: 0.375rem;
}

.informacionYRedes ul li a img {
    height: 1.8rem;
    width: 1.8rem;
    transition: transform 0.3s ease;
}

.informacionYRedes ul li a:hover img {
    transform: scale(1.1);
}

.informacionYRedes p {
    color: var(--colorTexto);
    font-size: 1rem;
    margin: 0.625rem 0;
    line-height: 1.5;
}

.enlacesRapidos {
    flex: 1;
    max-width: 30%;
}

.enlacesRapidos h2 {
    color: var(--colorComplementarioOscuro);
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.enlacesRapidos ul {
    list-style: none;
    padding: 0;
}

.enlacesRapidos ul li {
    margin: 0.75rem 0;
}

.enlacesRapidos ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--colorTexto);
    display: flex;
    align-items: center;
    transition: ease-in-out 0.3s;
}

.enlacesRapidos ul li a:hover {
    color: var(--colorComplementarioOscuro);
    margin-left: 0.2rem;
    transition: ease-in-out 0.3s;
}

.enlacesRapidos ul li a span {
    color: var(--colorComplementarioOscuro);
    font-weight: bolder;
    margin-right: 0.5rem;
}

.contactoFooter {
    flex: 1;
    max-width: 30%;
    margin-right: 0;
}

.contactoFooter h2 {
    color: var(--colorComplementarioOscuro);
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.contactoFooter ul {
    list-style: none;
}

.contactoFooter ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.75rem 0;
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--colorTexto);

}

.contactoFooter ul li span {
    margin-right: 0.75rem;
    background-color: rgba(220, 220, 220, 0.2);
    padding: 0.5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.derechosReservados {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.derechosReservados p {
    text-align: center;
    color: var(--colorTexto);
}

/* ************************ */
/* *     ESTILOS LOGIN    *  */
/* ************************ */

#formLogin {
    display: flex;
    flex-direction: column;
    background-color: var(--colorPrincipal);
    border-radius: 0.375rem;
    padding: 1rem 2rem;
    margin: 4rem auto;
    justify-content: center;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    max-width: 500px;
}

#formLogin div h2 {
    text-align: center;
}

#formLogin div h2 a {
    color: var(--colorTexto);
    font-size: 1rem;
    transition: 0.3s ease-in-out;
}

#formLogin div h2 a:hover {
    color: var(--colorComplementario);
    transition: 0.3s ease-in-out;
}

#formLogin label {
    color: var(--colorTexto);
    font-weight: bolder;
    margin: 0.5rem 0 0.125rem 0;
}

#formLogin input {
    background-color: rgb(231, 231, 231);
    border-radius: 0.75rem;
    height: 2.5rem;
    border: 0.125rem solid rgb(136, 136, 136);
    color: grey;
    padding: 0 0.75rem;
    margin-bottom: 0.75rem;
}

#formLogin button {
    margin: 1rem auto;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    background-color: var(--colorComplementario);
    color: var(--colorTexto);
    border-style: none;
    cursor: pointer;
    width: 80%;
    transition: 0.3s ease-in-out;
}

@media (max-width: 900px) {
    .heroSection h1 {
        font-size: 2rem;
    }

    section {
        grid-template-columns: 1fr;
    }

    #informacionYRegistro {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    header nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .heroSection {
        height: 25rem;
    }

    #informacionYRegistro {
        padding: 1rem;

    }

    .seccionesFooter {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .informacionYRedes,
    .enlacesRapidos,
    .contactoFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .informacionYRedes p {
        text-align: center;
    }


    #formLogin {
        margin: 4rem 1rem;
    }
}